<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>External Sort Visulizer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="control-pane">
        <h1>Custom Sort Example</h1>
        <!-- Form to send the CSV file to the backed sorter-->
        <form id="sortForm" enctype="multipart/form-data">
            <label for="file">Choose a CSV file:</label>
            <input type="file" name="file" id="file" accept=".csv"><br><br>
            
            <label for="F">F:</label>
            <input type="number" name="F" id="F"><br><br>
            
            <label for="P">P:</label>
            <input type="number" name="P" id="P"><br><br>
        
            <button type="submit">Sort CSV</button>
          </form>
    </div>

    <div id="relation-pages">
        <!-- Relation will be rendered here-->
    </div>

    <div id="algorithm-details">
        <table>
            <tr>
                <th>Index</th>
                <th>Phase</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div id="buffer-frames" class="centered-table">
        <!-- The generated table will be appended here -->
      </div>
    
      <!-- Include your JavaScript file -->
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
      <!-- Call the buildTable function after the DOM has loaded -->
      <script>
        let pages;
        let bufframes;
        let jsonData; // Define the jsonData variable in the global scope
        
        
        document.getElementById('sortForm').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the default form submission
            
            // Create a FormData object to send the form data
            const formData = new FormData(event.target);
            
            // Make an AJAX request to the /sort route
            fetch('/sort', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())  // Parse the JSON response
            .then(data => {
                // Call a function based on the parsed data
                jsonData = data;
                const F = jsonData.frames;
                const N = jsonData.tuples;
                const P = jsonData.steps[0].relation[0].length;
                pages = buildTable(N, P, 'relation-pages');
                bufframes = buildTable(F*4, 4, 'buffer-frames');
                updateView();
            })
            .catch(error => console.error('Error:', error));
        });

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        
        async function updateView() {
            if (jsonData) {
                // console.log(pages, bufframes);
                for (let s = 0; s < jsonData.steps.length; s++) {
                    renderStep(pages, bufframes, jsonData.steps[s]);
                    await sleep(1000);
                }

            } else {
                console.error('No JSON data loaded.');
                return;
            }
            
        }
    </script>
</body>
</html>